html{
	background: url(background_1.png) no-repeat center center fixed;
	background-size: 100%;
	text-align: center;
}


background {opacity: 2;
	
}

.betont{
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 2.2em;
	color: white;
}

h1{
	font-family:'Roboto', sans-serif;
	font-size: 2.2em;
	color: white;
}

div{
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	color: white;
	font-weight: lighter;
	margin-left: 28%;
	margin-right: 28%;
	text-align: justify;
	
	
}
h2{
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 4.8em;
	color: white;
	animation: blink .4s linear infinite;
}
@keyframes blink {
  0%   {color:white;}
  50%   {color:red;}
  100% {color: yellow;}
}

#imgbutton {max-width: 35%;
            margin-bottom: 10em;}
            
#moral {font-family: 'Waiting for the Sunrise', cursive;
       position: absolute;
       font-weight: bold;
       text-decoration: none;
       font-size: 2em;
      
                color: white;
                top: 31em;
                left: 19em;}
     
	