#Startseite {max-width: 100%;
             border: none; 
             }

body {background-color: black;}

#start {position: absolute;
                color: white;
                top: 20em;
                left: 40em;
                font-family: 'Waiting for the Sunrise', cursive;}